@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <a href="/Home/About">About</a>
    <a asp-controller="home" asp-action="about">About 2</a>
    <button id="mano">About 3</button>
    <a href="/Home/Cachorro">Cachorro</a>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
<script src="~/js/Home/about.js"></script>